.skills-section {
    margin: 5%;
    text-align: center;
    user-select: none;
}

.skills-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: center;
}
.skill-card {
    background-color: #3d3e42;
    text-align: center;
    padding: 10% 0 0;
    height: 88%;
    border-radius: 20px;
    
    img {
        width: 45%;
    }
}