.navbar-nav {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    padding: 20px 0%;
    background-color: #34353a;
    gap: 5%;
    z-index: 1000;
    transition: background-color .25s;
    a {
        color: #a5a6a7;
        text-decoration: none;
    }
    a:hover {
        color: #f9f9f9;
        text-decoration: underline;
    }
    a:active {
        color: #f9f9f9;
    }
}

.scroll-navbar {
    transition: box-shadow 0.25s;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
}

.active {
    color: #f9f9f9 !important;
    text-decoration: underline !important;
}