.experience-container {
  background-color: #3d3e42;
  user-select: none;
}

.exp-section {
  position: relative;
  padding: 60px 5% 3% 5%;
}

.exp-section h1 {
  position: absolute;
  top: -28px;
  left: 60px;
  margin: 0;
  color: #f9f9f9;
}

@media (max-width: 768px) {
  .exp-section {
    padding: 50px 4% 5% 4%;
    margin-top: 50px;
  }
  .exp-section h1 {
    left: 16px;
    top: -24px;
  }
}

@media (max-width: 480px) {
  .exp-section h1 {
    font-size: 1.5rem;
  }
}
