.experience-container {
    background-color: #3d3e42;
    padding-bottom: 0.5%;
    user-select: none;
    .exp-section {
        position: relative;
        margin: 8% 5% 5% 5%;
        h1 {
            position: absolute;
            top: -56px;
        }
    }
    .experiences-div {
        padding-top: 40px;
    }
}


.experience-article {
    display: flex;
    gap: 25px;
    overflow: hidden;
    margin-bottom: 6px;
    ul {
        /* margin-block-start: auto; */
        padding-inline-start: 30px;
        margin-bottom: 0px;
        line-height: 25px;
        li {
            margin-bottom: 10px;
        }
    }
}
.role-title, .company-title {
    margin: 8px 0px;
    span {
        color: #f0bf6c;
    }
}

.pointer {
    width: 48px;
    padding: 6.8px;
    height: fit-content;
    height: -moz-max-content;
    position: relative;
    background: #5d5e60;
    text-align: center;
    margin-right: 5px;
    span {
        font-size: 1.5rem;
    }
  }
.pointer:before {
    content: "";
    position: absolute;
    right: -19.3px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #5d5e60;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

