/* Fonts loaded via HTML <link> tags for better performance */
@import 'material-icons/iconfont/material-icons.css';
@import './assets/css/scrollbar.css';
body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #31333b;
  color: #f9f9f9;
}

h1 {
  font-family: "Besley", serif; 
  font-size: xx-large;
}

button {
  font-family: "Comfortaa", sans-serif;
  box-shadow: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  width: fit-content;
  cursor: pointer;  
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.circle {
  width: 30px;
  height: 30px;
  background: #f0bf6c;
  border-radius: 50%;
  margin: 4px;
  box-shadow: 0px 0px 5px 0px #f0bf6c;
}

.vertical-line {
  border: 2px solid white;
  border-radius: 1px;
  height: 100%;
  width: 0px;
  margin: 10px auto;  
}


